<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置 默认在Debug目录下-->
      <param name="file" value="Log\\" />
      <!--是否覆盖，默认是追加true-->
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Date" />
      <!--文件名称-->
      <param name="datePattern" value="'GraduationDesignManagement-'yyyyMMdd'.txt'" />
      <!--名称是否可以更改为false为可以更改-->
      <param name="staticLogFileName" value="false" />
      <!--设置无限备份=-1 ，最大备份数为100-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.ffffff} [%-5level] {Thread:%3thread} %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <!--mysql相关配置-->
  <connectionStrings>
    <!--MySql-->
    <add name="MysqlConnectSt" providerName="MySql.Data.MySqlClient" connectionString="Data Source=123.206.216.30;Database=database;User Id=mysqluser;Password=123456;Charset=utf8" />
  </connectionStrings>
  <!--服务器的相关配置-->
  <appSettings>
    <add key="ServerHhost" value="123.206.216.30"/>
    <add key="DomainName" value="http://mmilu.cn//"/>
    <add key="FtpUser" value="thinkphp"/>
    <add key="FtpPassword" value="6mD97gNJI97n"/>
    <add key ="ServerInstallPath" value="GraduationDesign//Install//"/>
    <add key ="GraduationDesignHtml" value="GraduationDesign//GraduationDesignHtml//about.html"/>
    <add key="CheckFileName" value="Installer.xml"/>

    <add key="ServerUpLoadPath" value="GraduationDesign//File//"/>

    <add key="GraduationDesignFilePath" value="GraduationDesign//GraduationDesignFile//"/>

    <add key ="UpLoadOutTime" value ="10000"/>
    <add key ="DownLoadOutTime" value ="10000"/>
  </appSettings>
</configuration>